/* * * * * * * * * * * * * GENERAL * * * * * * * * * * * * */

body {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    padding: 0;
    margin: 0 auto;
}

.add-bold {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #F4F4F4;
    height: 113px;
    padding-top: 20px;
}

.header-padding {
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}

h1.header-h1 {
    font-size: 430%;
    font-weight: 600;
    letter-spacing: 3px;
    color: #242424;
    opacity: 0.1;
    margin: 0px;
    padding-top: 50px;
}

h2.header-h2 {
    font-weight: 100;
    margin-top: -26px;
    font-size: 110%;
    margin-left: 60px;
}

h2.header-h2-2 {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(300%);
    color: #fff;
    width: 100%;
    font-weight: 300;
/*    font-style: italic;
*/}


#logoWidth {
    width: 80px;
    display: block;
}

#logoWidthDSG {
    width: 150px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}






/* * * * * * * * * * * * * INTRODUCTIE * * * * * * * * * * * * */

.header-gallery {
    max-width: 1150px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-gallery > img {
    width: 100px;
    margin: 0px 5px;
}

.intro-text {
    background-color: #F2F2F2;
    padding: 50px 80px;
    font-size: 80%;
    line-height: 22px;
    width: 600px;
    margin: 0 auto;
}

h3.about-project {
    font-weight: 700;
    font-size: 250%;
    text-transform: uppercase;
    margin-top: -60px;
    margin-bottom: 80px;
}

h3.about-me {
    margin: 0px;
    padding: 10px;
    font-weight: 400;
    font-size: 90%;
    background-color: #2c2c2c;
    color: #aeaeae;
/*    text-transform: uppercase;*/
}

a.visit-sbs {
    padding: 10px 60px;
    background-color: #000;
    transition: ease-in-out 0.2s;
    text-transform: uppercase;
    font-size: 70%;
    box-shadow: 2px 2px 1px #cecece;
    margin: 70px auto 200px;
    color: #fff;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 1.5em;
}

a.visit-sbs:hover {
    color: #D8716D;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 0px #cecece;
}






/* * * * * * * * * * * * * CONCURRENTIE ANALYSE * * * * * * * * * * * * */

.main-top {
    min-height: 150px;
    margin: 100px auto;
    max-width: 1150px;
    display: flex;
    justify-content: center;
}

.competitor-box-1, .competitor-box-2, .competitor-box-3 {
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 0px 50px;
    position: relative;
}

.competitor-box-1 {
    background-image: url(../images/header3.png);
}

.competitor-box-2 {
    background-image: url(../images/header2.png);
}

.competitor-box-3 {
    background-image: url(../images/header1.png);
}

ul li {
    line-height: 1.5em;
}

h3.artist {
    font-weight: 600;
    font-size: 200%;
    color: #D8766D;
    position: absolute;
    top: 130px;
    left: -40px;
    text-transform: uppercase;
}

a.visit-competitor {
    padding: 7px 15px;
    background-color: #fff;
    position: absolute;
    bottom: -17px;
    right: 0;
    transition: ease-in-out 0.2s;
    text-transform: uppercase;
    font-size: 70%;
    box-shadow: 2px 2px 1px #cecece;
    line-height: 2.2em;
}

a.visit-competitor:hover {
    color: #D8716D;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 0px #cecece;
}

.main-body {
    max-width: 960px;
    margin: 0px auto 300px;
    font-size: 80%;
}

.main-body img {
    width: 30px;
    display: block;
    margin: 40px 0px;
}

.competitor-analyse {
    background-color: #000;
    margin: 200px 0px;
}

h3.artist-name {
    font-weight: 700;
    font-size: 250%;
    text-transform: uppercase;
    margin-top: -60px;
    line-height: 0.8em;
}

.competitor-plus {
    padding: 50px 100px;
    background-color: #F4F4F4;
}

.competitor-minus {
    padding: 50px 100px;
    color: #fff;
    position: relative;
}

a.visit-competitor-bottom {
    padding: 7px 60px;
    background-color: #fff;
    color: #000;
    right: 0;
    transition: ease-in-out 0.2s;
    position: absolute;
    right: 50px;
    bottom: -16px;
    box-shadow: 2px 2px 1px #cecece;
    font-size: 80%;
    text-transform: uppercase;
    line-height: 2.2em;
}

a.visit-competitor-bottom:hover {
    color: #D8716D;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 0px #cecece;
}

.competitor-minus > img:nth-of-type(2) {
    width: 180px;
    position: absolute;
    bottom: -185px;
}

footer {
    background-color: #F4F4F4;
    min-height: 70px;
    padding-top: 30px;
}

.footer-title-1 {
    font-size: 350%;
    font-weight: 600;
    letter-spacing: 3px;
    color: #242424;
    opacity: 0.1;
    margin: 0px;
}

.footer-title-2 {
    font-weight: 100;
    font-size: 110%;
    margin: 0px;
    color: #ffffff;
    background-color: #000;
    margin: 0px;
    padding: 15px 145px;
}

.footer-title-2 a {
    color: #fff;
    text-decoration: underline;
}

.footer-title-2 a:hover {
    color: darkgrey;
 }




/* * * * * * * * * * * * * USER SCENARIO'S * * * * * * * * * * * * */

.main-body-user {
    margin-top: 70px;
}



/* * * * * * * * * * * * * DIGITAL STYLEGUIDE * * * * * * * * * * * * */


header.header-ds {
    background-image: url(../images/headerDs.png);
    background-position: center;
    background-size: cover;
    height: 700px;
}

h2.h2-ds-1 {
    color: #2c2c2c;
    font-size: 80px;
    padding-top: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    text-align: center;
}


h2.h2-ds-2 {
    color: #2c2c2c;
    font-size: 150px;
    margin-top: 0px;
    font-weight: 600;
    text-align: center;
    line-height: 63px;
}

h2.h2-ds-3 {
    color: #fff;
    text-align: center;
    font-weight: 200;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 210px;
    margin: 0 auto;
    font-style: italic;
}

div.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

div.section-1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

div.section-1 .box-left, div.section-1 .box-right  {
    min-height: 100px;
    width: 50%;
}

ul.ul1-section-1, ul.ul2-section-1 {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

ul.ul1-section-1 li {
    font-size: 150%;
    display: block;
    margin-top: 9px;
}

span.title-caps {
    font-size: 150%;
    font-weight: 800;
}

ul.ul2-section-1 {
    padding-left: 0px;
    max-width: 200px;
    text-align: center;
}

ul.ul2-section-1 li {
    border: 0.5px solid black;
    padding: 5px 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

ul.ul2-section-1 a {
    display: block;
    transition: 0.2s ease-in-out;
}

ul.ul2-section-1 a.buy-button:hover {
    color: #fff;
    background-color: #000;
}

ul.ul2-section-1 a.buy-button-2 {
    color: #fff;
    background-color: #000;
}

ul.ul2-section-1 a.buy-button-2:hover {
    color: #000;
    background-color: #fff;
}

ul.ul2-section-1 a.sold-out-button {
    margin-top: 50px;
    background-color: #2c2c2c;
    color: grey;
}

div.section-2 {
    margin-top: 50px;
}

div.section-2 .box {
    display: block;
}

.ul1-section-2 {
    padding-left: 0;
}

.ul1-section-2 a {
    padding: 5px 50px;
    text-align: center;
    border: 1px solid #d8766d;
    display: inline-block;
    text-transform: uppercase;
}

.ul1-section-2 img {
    margin-left: 10px;
    display: inline-block;
}

.ul1-section-2 .more-button {
    color: #d8766d;
    transition: 0.2s ease-in-out
}

.ul1-section-2 .more-button:hover {
    color: #fff;
    background-color: #d8766d;
}

.ul1-section-2 .more-button-2 {
    color: #fff;
    background-color: #d8766d;
    margin-left: 15px;
    transition: 0.2s ease-in-out;
}

.ul1-section-2 .more-button-2:hover {
    background-color: #fff;
    color: #d8766d;
}

div.section-3 h3.title-large {
    font-size: 70px;
    color: #e8e8e8;
    font-weight: 600;
    margin: 50px 0px 6px;
}

div.section-3 p {
    margin-top: 0px;
}

div.section-4 {
    margin-top: 80px;
}

div.section-4 a {
    text-transform: uppercase;
}

a.check-project {
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #000;
    transition: 0.2s ease-in-out;
}

a.check-project:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

a.check-project-2 {
    border: 1px solid #000;
    padding: 5px 15px;
    text-align: center;
    margin-left: 15px;
    transition: 0.2s ease-in-out;
}

a.check-project-2:hover {
   color: #fff;
   background-color: #000;
   border: 1px solid #000;
}

a.check-projects {
    display: block;
    margin-top: 30px;
    text-align: center;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    width: 270px;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
}

a.check-projects:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}

div.section-5 {
    margin-top: 80px;
}

div.section-5 h3.title-medium {
    font-size: 70px;
    color: #e8e8e8;
    font-weight: 600;
    margin: 50px 0px 6px;
}

div.section-5 h3.title-small {
    margin-top: -73px;
    font-weight: 100;
}

div.section-5 p {
    margin-top: 40px;
    color: #aaaaaa;
}

div.section-5 p:nth-of-type(2){
    padding: 30px;
    background-color: #000;
    color: #fff;
    width: 50%;
}


div.section-6 {
    margin-top: 80px;
}

div.box-left {
    position: relative;
    margin-bottom: 50px;
}

div.section-6 .send {
    background-color: #D8716D;
    padding: 5px 40px;
/*    border-radius: 30px;*/
    color: #fff;
    display: block;
    width: 80px;
    text-align: center;
    border: 1px solid #D8716D;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
}

div.section-6 .send:hover {
    background-color: #fff;
    color: #D8716D;
}

div.section-6 .send-2 {
    border: 1px solid #D8716D;
    color: #D8716D;
    padding: 5px 40px;
/*    border-radius: 30px;
*/    margin-top: 15px;
    display: block;
    width: 80px;
    text-align: center;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
}

div.section-6 .send-2:hover {
    background-color: #D8716D;
    color: #fff;
}

div.group {
    position: absolute;
    top: 18px;
    left: 384px;
}

div.section-6 .box-left a img {
    width: 40px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 50px;
}

div.section-6 .box-left a:hover {
    filter: opacity(0.8);
    transition: 0.2s ease-in-out;
}

div.section-7 {
    margin-top: 80px;
    margin-bottom: 100px;
}

div.section-7 div.row-1, div.section-7 div.row-2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
}

div.section-7 div.row-1 div.flex-item, div.section-7 div.row-2 div.flex-item {
    background-color: orange;
    height: 200px;
    width: 200px;
}

div.section-7 div.row-1 div.flex-item:nth-of-type(1){
    background-image: url(../images/box1.png);
}

div.section-7 div.row-1 div.flex-item:nth-of-type(2){
    background-image: url(../images/main-top4.png);
    background-position: center;
    background-size: cover;
}

div.section-7 div.row-1 div.flex-item:nth-of-type(3){
    background-image: url(../images/main-top2.png);
    background-position: center;
    background-size: cover;
}

div.section-7 div.row-2 div.flex-item:nth-of-type(1){
    background-image: url(../images/main-top3.png);
    background-position: center;
    background-size: cover;
}

div.section-7 div.row-2 div.flex-item:nth-of-type(2){
    background-image: url(../images/header1.png);
    background-position: center;
    background-size: cover;
}

div.section-7 div.row-2 div.flex-item:nth-of-type(3){
    background-image: url(../images/DavisAyer2.jpeg);
    background-position: center;
    background-size: cover;
}

